.form_page
    width 100vw
    height: 100vh
    background: rgba(243, 243, 243, 1)
    display: flex
    justify-content: center
    align-items: center
.from
    width 20vw
    height: 50vh
    background: white
    border-radius: 1vh
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.473)
    padding: 0 4vw
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
.form_heading
    margin-top 5vh
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 500;
.from input 
    margin-top 1.5vh
    border none
    box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.308);
    border-radius: 1vh
    height: 5vh
    width 15vw
    outline: none
    padding-left: 1vw
    box-sizing: border-box
    font-family: Jura;
    font-size: 1.5vh;
    font-weight: 700;
.sign_in_btn
    font-family: Jura;
    font-size: 2vh;
    font-weight: 400;
    display: flex
    justify-content: center
    align-items: center
    background: rgba(133, 212, 169, 1)
    border-radius: 1vh
    width 15vw
    height: 6vh
    border: none
    outline: none
    margin-top 3vh
    cursor pointer