.blog_page
    background: #F3F3F3

    display: flex
.img_blog_load
    height: 60vh
    width 60vh
    background: white
    border-radius: 1vh
.blog_created_at
    font-family: Rubik;
    font-size: 1.6vh;
    font-weight: 300;
.blog_page_con
    display: flex
    padding: 7vh 0 0 2vw
    box-sizing: border-box
    gap 4vw
.blog_input
    margin 0 0 4vh 0
    display: block
    border none
    outline: none
    box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
    width 30vw
    height: 9vh
    border-radius: 1vh
    padding: 0 0 0 1vw
    box-sizing: border-box
    font-family: Jura;
    font-size: 2.5vh;
    font-weight: 700;
.blog_area
    resize: none
    display: block
    border none
    outline: none
    box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
    width 30vw
    height: 40vh
    border-radius: 1vh
    padding: 1vh 0 0 1vw
    box-sizing: border-box
    font-family: Jura;
    font-size: 2.5vh;
    font-weight: 700;
.blog_contronl
    margin-top 4vh
    display: flex
    justify-content: flex-end
    gap 1vw
    width 100%
    height: 6vh
.delete_blog
    cursor pointer
    background: white
    border: none
    border-radius: 0.5vh
    width 8vw
    font-family: Jura;
    font-size: 2.1vh;
    font-weight: 700;
.save_blog   
    cursor pointer

    background: rgba(133, 212, 169, 1)
    border: none
    border-radius: 0.5vh
    width 12vw
    font-family: Jura;
    font-size: 2.1vh;
    font-weight: 700;