.chat_page
    display: flex
    background: rgba(243, 243, 243, 1)
.chat_window
    padding: 7vh 0 0 2vw
    box-sizing: border-box
.chat_control
    margin-top 6vh
    display: flex
    gap 1vw
.chat_control .back_form,.chat_form
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 400;
    cursor pointer
    border none
    display: flex
    justify-content: space-around
    align-items: center
    background: rgba(255, 255, 255, 1)
    border-radius: 1vh
    height 4vh
    width 10vw


.back_form.active_btn,
.chat_form.active_btn {
    background-color: rgba(216, 240, 227, 1); /* Background for active button */
    border-radius: 5px;
}


.from_cards_con
    display: flex
    flex-direction: column
    gap 0.1vh
    margin 2vh 0 0 0 
