

.order_card_user
    user-select: none
    display: flex
    width 100%
    background: white
    align-items: center
    padding 1vh 1vw
    box-sizing: border-box
    justify-content: space-between  
    border-bottom: 0.1vh solid rgba(0, 0, 0, 0.185)
.fav_info
    display: flex
    flex-direction: column
    justify-content: center
    margin 0 0 0 1vw
.left_fav
    display: flex;
    height: 100%;
    align-items: center;
.order_article  
    font-family: Jura;
    font-size: 1.5vh;
    font-weight: 300;
    color rgba(0, 0, 0, 1)
.order_name
    font-family: Jura;
    font-size: 2vh;
    font-weight: 500;
.fav_name
    margin 1.4vh 0 0 0
    font-family: Jura;
    font-size: 2.1vh;
    font-weight: 500;
.order_cnt
    margin 0 0 0 19vw
    font-family: Jura
    font-weight: 800
.fav_price
    font-family: Jura;
    font-size: 2vh;
    font-weight: 700;

.fav_img {
    width: 3.61vw; /* Width relative to viewport width */
    height: 6.35vh; /* Height relative to viewport height */
    object-fit: contain; /* Fit the image inside these dimensions */
    display: block;
}