.user_chat
    display: flex
    background: rgba(243, 243, 243, 1)
.chat
    padding: 4vh 0vw 0 2vw
    box-sizing: border-box
.chat_window_c
    margin-top 6vh
    width 60vw
    height: 76%
    background: white
    border-radius: 1vh