.add_category
    transition: 0.3s ease
    width 100%
    height: 100%
    position: absolute
    top 0
    left 0
    background: rgba(0, 0, 0, 0.308)
    backdrop-filter: blur(2px);
    transition: 0.4s
    opacity 0
    display: none
    justify-content: center
    align-items: center
.add_cat_menu
    position relative
    min-height: 50vh
    width 25vw
    background: rgba(243, 243, 243, 1)
    border-radius: 1vh
    display: flex
    align-items: center
    flex-direction: column
    padding 2vh 1.3vw
    box-sizing: border-box
.drag_active
    background: rgba(0, 0, 0, 0.67)
    transition: 0.2s
    color #fff
    border: white
.drag_active .normal_text
    color: white
    transition: 0.2s
.drag_active .instruction
    color: white
    transition: 0.2s

.close_img
    cursor pointer
    position: absolute
    top 1vh
    right: 1vw

.img_con
    padding 1vh 1vw
    box-sizing: border-box
    height 28vh
    width 100%
    background: white
    border-radius: 1vh
    display: flex
    justify-content: space-around
    flex-direction: column

.ty 
    margin 0


.input_click
    color: rgba(133, 212, 169, 1)
    font-family: Jura;
    font-size: 14px;
    font-weight: 700;
    cursor pointer
.normal_text
    cursor auto
    color: black
    font-family: Jura;
    font-size: 14px;
    font-weight: 700;

.drag_and_drop
    transition: 0.4s
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    border: 1px dashed black
    height: 70%
    width 100%
    border-radius: 1vh
    gap: 2vh
.instruction
    font-family: Jura;
    font-size: 12px;
    font-weight: 400;
    color rgba(105, 105, 105, 1)

.titile_set
    font-family: Jura;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
.set_con
    margin-top 2vh
    padding 1vh 1vw
    box-sizing: border-box
    height 100%
    width 100%
    background: white
    border-radius: 1vh
    display: flex
    justify-content: space-around
    flex-direction: column

.input_add
    width 100%
    margin-top 1.4vh
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 500;
    padding: 0 0 0 1vw
    box-sizing: border-box
    height: 4vh
    outline: none
    border-radius: 1vh
    display: block
    border 0.1vh solid rgba(0, 0, 0, 0.25)

.btn_group
    margin-top 2vh
    gap 1vw
    display: flex
    width 100%
    align-items: flex-end
    justify-content: flex-end

.button_cat
    cursor pointer
    border: none
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: center;
    color: white
    padding: 1vh 1vw
    box-sizing: border-box
    border-radius: 1vh
.cancel
    background: rgba(154, 154, 154, 1)

.add
    background:  rgba(33, 150, 83, 1)

.uploaded_photo
    height: 70%;
    display: flex
    justify-content: center
    align-items: center
.uploaded_photo img
    height: 70%
   
