.form_card
    background: white
    width 30vw
    border-radius: 1vh
    height: 9vh
    display: flex
    justify-content: space-between
    padding: 2vh 1vw
    box-sizing: border-box
.left_card_part
    display: flex
    gap 1vw
.customer_info
    display: flex
    flex-direction: column
    justify-content: space-between
.customer_name
    font-family: Inter;
    font-size: 1.5vh;
    font-weight: 500;
.customer_phone
    font-family: Inter;
    font-size: 2vh;
    font-weight: 400;

    