.product_page {
    display: flex;
    height: 100vh
    background: rgba(243, 243, 243, 1)

}
.table_part
    padding: 7vh 0 0 2vw
    box-sizing: border-box
.page_title
    user-select: none

    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 38.73px;
    text-align: left;
.control_panel
    user-select: none

    margin-top 6vh
    display: flex
    gap 0.4vw
.add_product
    border: none 
    cursor: pointer
    display: flex
    justify-content: space-around
    align-items: center
    width: 10.5vw;
    height: 5vh;
    border-radius: 1vh
    background: rgba(255, 255, 255, 1)
.search_con
    position relative
.btn_text
    margin 0
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 500;
.search_i
    width: 23.8vw;
    height: 5vh;
    background: rgba(255, 255, 255, 1)
    border-radius: 1vh
    box-sizing: border-box
    outline: none
    border: none
.search_img
    position: absolute
    top 1vh
    left 0.4vw
    width 3.2vh
.table_section
    margin-top 2vh
    user-select: none
    width 60vw
    height: 6.2vh
    display: grid
    grid-template-columns: 3vw 3vw 8.1vw 8.2vw 15vw 5vw 5vw 6vw 6vw 6vw 5vw;
    grid-column-gap: 0.1vw;

.table_titles
    cursor pointer
    position relative
    display: flex
    justify-content: center
    align-items: center
    background: rgba(133, 212, 169, 1)
    height: 6.2vh
    font-family: Inter;
    font-size: 1.7vh;
    font-weight: 400;
    text-align: center
.filter_block
    cursor auto
    position: absolute
    top: 6vh 
    left: 0
    width 100%
    height: 10vh
    background: white
    border-radius: 0vh 0vh 1vh 1vh
.products_section
    overflow-y: scroll
    height: 69vh
    width 72vw
.products_section::-webkit-scrollbar
    display: none


.select_btn
    cursor pointer
    height: 5vh
    width 9vw
    border-radius: 1vh
    background: rgba(216, 240, 227, 1)
    border none
    display: flex
    justify-content: space-around
    align-items: center
    font-family: Inter;
    font-size: 1.5vh;
    font-weight: 400;
.delete
    cursor pointer
    height 5vh
    width 9vw
    background: white
    border-radius: 1vh
    display: flex
    justify-content: space-around
    align-items: center
    font-family: Inter;
    font-size: 1.5vh;
    font-weight: 400;
    border: none

.table_titles.active {
    background-color: #373737;
    color: white/* Змінений фон при активності */
}


.filter
    cursor: pointer
    color: black
.tag
    margin-top 3vh
    background: white
    border-radius: 1vh
    padding: 1vh 1vw
    box-sizing: border-box

