.catalog_card
    overflow: hidden
    position relative
    cursor pointer
    min-width: 21vw;
    height: 37vh;
    border-radius: 1vh
    background: rgba(255, 255, 255, 1)
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

.card_name
    font-family: Jura;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.39px;
    text-align: center;

.delete_img_catalog
    transition: 0.3s
    top 2vh
    right: -4vh
    position absolute
.catalog_card:hover .delete_img_catalog
    right: 2vh
