.update_page
    display: flex
    background: rgba(243, 243, 243, 1)
.update_field
    display: flex
    padding: 5vh 0 0 2vw
    box-sizing: border-box
    gap 6vh
.carusel_view
    background: white
    width 30vw
    height: 60vh
.carusel_block
    width 30vw
    overflow: hidden
.top_part
    display: flex
    width 40vw
    align-items: center
    justify-content: space-between
    margin 0 0 7vh 0
.top_left
    display: flex
    flex-direction: column
.top_part span
    font-family: Rubik;
    font-size: 1.6vh;
    font-weight: 300;

.coments_btn
    cursor pointer

    border-radius: 1vh
    width 7vw
    height: 5vh
    background: white
    display: flex
    justify-content: space-around
    align-items: center
.coments_btn span
    font-family: Inter;
    font-size: 1.6vh;
    font-weight: 500;
.up_input
    display: block
    margin-top 2vh
    border none
    outline: none
    box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
    width 100%
    height: 6vh
    border-radius: 1vh
    padding: 0 0 0 1vw
    box-sizing: border-box
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 500;
.point_choose
    margin-top 4vh
    overflow: hidden
    border-radius: 1vh
    width 100%
    height: 6vh
    background: rgba(229, 252, 240, 1)
    display: flex
.point
    transition: 0.3s
    cursor pointer
    width 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    font-family: Jura;
    font-size: 2vh;
    font-weight: 400;
.point:hover
    background: rgba(133, 212, 169, 1)
.active 
    background: rgba(133, 212, 169, 1);
.text_area_up
  margin-top 2vh
  width 100%
  height: 30vh
  resize: none;
  font-family: Jura;
  font-size: 2.6vh;
  font-weight: 500;
  outline: none
  border: none
  box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
  border-radius: 1vh
  padding 1vh 1vw
  box-sizing: border-box
.up_control_con
    width 100%
    display: flex
    justify-content: flex-end
    align-items: center
    font-family: Jura;
    font-size: 2vh;
    font-weight: 700;
    gap 1vw
    margin-top 2vh
.delete_btn
    height: 6vh
    width 7vw
    background: white
    border-radius: 1vh
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
.update_btn
    height: 6vh
    width 10.9vw
    background: rgba(133, 212, 169, 1)
    border-radius: 1vh
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center