.update_order
    position: absolute
    top 0
    left 0
    width 100vw
    height: 100vh
    background: rgba(0, 0, 0, 0.308)
    opacity 0
    backdrop-filter: blur(2px);
    transition: 0.4s
    display: none
    justify-content: center
    align-items: center

.update_modal
    position relative
    padding: 0.5vh 1.9vw
    box-sizing: border-box
    width 42vw
    height: 77vh
    border-radius: 1vh
    background: rgba(243, 243, 243, 1)
    display: flex
    justify-content: space-around
.left_part_up_order
    width 18vw
.up_input
    display: block
    margin-top 1.4vh
    border none
    outline: none
    box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
    width 24vw
    height: 3vh
    border-radius: 1vh
    padding: 0 0 0 1vw
    box-sizing: border-box
    font-family: Jura;
    font-size: 2.4vh;
    font-weight: 500;
.update_btn_order
    color white
    border none
    border-radius: 1vh
    background: rgba(33, 150, 83, 1)
    height: 4vh
    width 6vw
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.94px;
    text-align: center;
    cursor: pointer
.close_up_order
    position absolute
    top 1vh
    right: 1vh
    cursor: pointer
.btn_update_con
    margin-top 5vh
    width 100%
    display: flex
    justify-content: flex-end




.text_area_order
  margin-top 2vh
  width 16vw
  height: 30vh
  resize: none;
  font-family: Jura;
  font-size: 2.6vh;
  font-weight: 500;
  outline: none
  border: none
  box-shadow: inset 0px 0px 0.6vh 0px rgba(0, 0, 0, 0.308);
  border-radius: 1vh
  padding 1vh 1vw
  box-sizing: border-box