dialog
  background: rgba(243, 243, 243, 1)
  border none
  border-radius: 1vh
  padding 4vh 4vh


dialog form
  display: flex
  justify-content: center
  align-items: center
  gap 2vh
.setting_up
  font-family: Jura;
  font-size: 2.4vh;
  font-weight: 700;
  margin 2vh 0 0 0
  
.upload_img_con
  margin-top 1.4vh
  border-radius:  1vh
  border 0.2vh dashed rgba(105, 105, 105, 1)
  height: 20vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.product_price_con
  margin-top 2vh
  background: rgba(255, 255, 255, 1)
  border-radius:  1vh
  padding 1vh
  box-sizing: border-box

.drop_down_cat
  user-select: none
  display: flex
  align-items: center
  position relative
  margin-top 1.4vh
  font-family: Jura;
  font-size: 2.4vh;
  font-weight: 500;
  padding: 0 0 0 1vw
  box-sizing: border-box
  width 24vw
  height: 4vh
  outline: none
  border-radius: 1vh
  border 0.1vh solid rgba(0, 0, 0, 0.25)
.drop_down_cat img
  position absolute
  right: 0.6vw

.dropdown_cat 
  z-index 3
  overflow-y: auto; 
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 4.3vh;
  left: 0;
  max-height: 15vh; 
  width: 100%;
  background: rgba(255, 255, 255, 1);
  transition: max-height 0.3s ease; 

.dropdown_cat span
  cursor pointer
  padding 0 0 0 1vw
  box-sizing: border-box
  display: flex
  align-items: center
  height: 5vh
  border-bottom: 0.2vh solid black

.add_cat_in_add
  background: rgba(206, 229, 216, 1)
.input_field
  margin-top 1.6vh
  background: rgba(255, 255, 255, 1)
  width 24vw
  height: 22vh
  border-radius: 1vh
.input
  margin-top 1.4vh
  font-family: Jura;
  font-size: 2.4vh;
  font-weight: 500;
  padding: 0 0 0 1vw
  box-sizing: border-box
  width 24vw
  height: 4vh
  outline: none
  border-radius: 1vh
  display: block
  border 0.1vh solid rgba(0, 0, 0, 0.25)

.sep_add_line
  height: 90%
  width 0.1vw
  background: rgba(221, 221, 221, 1)
.modal_left_part
  height: 100%


.options_con
  border-radius:  1vh
  background: rgba(255, 255, 255, 1)

  padding: 1vh;
  box-sizing: border-box;

.point_choose_add_menu
  overflow: hidden
  border-radius: 1vh
  width 100%
  height: 5vh
  background: rgba(229, 252, 240, 1)
  display: flex

.point_add
  transition: 0.3s
  cursor pointer
  width 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  font-family: Jura;
  font-size: 1.5vh;
  font-weight: 700;
.point_add:hover
  background: rgba(33, 150, 83, 1)
  color white
.active_add 
  background: rgba(33, 150, 83, 1)
  color white

textarea
  display: block
  resize: none
  margin-top 1.4vh
  font-family: Jura;
  font-size: 2.4vh;
  font-weight: 500;
  padding: 0 0 0 1vw
  box-sizing: border-box
  width 24vw
  height: 15vh
  outline: none
  border-radius: 1vh
  display: block
  border 0.1vh solid rgba(0, 0, 0, 0.25)


.add_btn_con
  margin-top 3.5vh
  display: flex
  justify-content: flex-end
  gap 1vw

.cancel_add
  cursor pointer
  border-radius: 1vh
  height: 5vh
  border none
  background: rgba(154, 154, 154, 1)
  color rgba(255, 255, 255, 1)
  font-family: Inter;
  font-size: 1.5vh;
  font-weight: 700;
  width 5vw
.add_product_btn
  background: rgba(33, 150, 83, 1)
  color rgba(255, 255, 255, 1)
  font-family: Inter;
  font-size: 1.5vh;
  font-weight: 700;
  cursor pointer
  border-radius: 1vh
  height: 5vh
  border none
  width 5vw


