    
 .card   
    width 60vw
    display: grid
    grid-template-columns: 3vw 8vw 8.1vw 12vw 15vw 5vw; 
    grid-column-gap: 0.1vw;
.table_info_c
    height: 9vh
    background: rgba(187, 237, 210, 0.5)
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    font-family: Inter;
    font-size: 1.7vh;
    font-weight: 400;