.orders_page
    display: flex;
    height: 100vh
    background: rgba(243, 243, 243, 1)
.add_order
    cursor: pointer
    display: flex
    justify-content: space-around
    align-items: center
    width: 12vw;
    height: 5vh;
    border-radius: 1vh
    background: rgba(255, 255, 255, 1)
.filter_order
    cursor: pointer
    display: flex
    justify-content: space-around
    align-items: center
    width: 10.5vw;
    height: 5vh;
    border-radius: 1vh
    background: rgba(255, 255, 255, 1)
.table_order_section
    margin-top 2vh
    user-select: none
    width 55vw
    height: 6.2vh
    display: grid
    grid-template-columns: 2vw 3vw 5.6vw 10vw 6vw 7vw 12vw  12vw 4.8vw 4.8vw 9vw 9vw 8vh 4vw;
    grid-column-gap: 0.1vw;
.table
    margin-top 2vh
    padding: 2vh 0 
    box-sizing: border-box
    width 72vw
    height 74vh
    overflow-x: scroll; /* Enable horizontal scrolling */
    overflow-y: scroll; /* Allow vertical scrolling but hide the scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
.order_p
    margin 2vh 0 0 0

.table::-webkit-scrollbar {
    width: 0;
    height: 10px;
}

.table::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table::-webkit-scrollbar-track {
    background: #f1f1f1;
}